/* components/patient-details.scss */
.patient-details {
  width: 25%;
  padding: $spacing-md;
  flex-shrink: 0;
  background-color: $bg-primary;
}

.panel {
  background-color: $bg-primary;
  border-radius: $radius;
  box-shadow: $shadow;
  border: 1px solid $primary-light;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  
  &__header {
    display: flex;
    align-items: center;
    gap: $spacing-sm;
    padding: $spacing-lg;
    
    img {
      width: 24px;
      height: 24px;
      font-size: 1.25rem;
      transition: filter 0.3s;
    }
    
    h2 {
      font-size: 1rem;
      font-weight: 600;
      margin: 0;
    }
  }
  
  &__content {
    flex: 1;
    display: flex;
    padding: $spacing-lg;
    flex-direction: column;
  }
}

.patient-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  color: $text-secondary;
  gap: $spacing-md;
  
  img {
    font-size: 3rem;
    color: $border-color;
    filter: invert(24%) sepia(90%) saturate(1960%) 
            hue-rotate(267deg) brightness(94%) contrast(93%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  p {
    font-size: 0.875rem;
    max-width: 200px;
    line-height: 1.4;
  }
}