/* components/waiting-list.scss */
.main-content{
  padding: $spacing-xs;
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  background-color: $bg-primary;
}
.main-content-center {
  flex: 1;
  display: flex;
  width: 75%;
  padding: $spacing-lg;
  flex-direction: column;
  background-color: $bg-primary;
  gap: $spacing-md;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: $spacing-xs;
    }
    
    p {
      color: $text-secondary;
      font-size: 0.875rem;
      margin: 0;
    }
    img{
      width: 24px;
      height: 24px;
    }
  }
}

.btn-primary {
  background-color: $primary;
  color: white;
  border-radius: $radius;
  padding: $spacing-sm $spacing-md;
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  font-weight: 500;
  transition: $transition-all;
  
  &:hover {
    background-color: $primary-dark;
  }
}

.waiting-list {
  background-color: $bg-primary;
  border-radius: $radius;
  border: 1px solid $primary-light;
  box-shadow: $shadow;
  overflow: hidden;
  
  table {
    width: 100%;
    border-collapse: collapse;
    
    th {
      text-align: center;
      padding: $spacing-md $spacing-lg;
      font-size: 0.75rem;
      font-weight: 600;
      color: $text-secondary;
      background-color: $bg-secondary;
      text-transform: uppercase;
      border-bottom: 1px solid $border-color;
    }
    
    td {
      padding: $spacing-md;
      border-bottom: 1px solid $border-color;
      font-size: 0.875rem;
    }
    
    .empty-state {
      td {
        text-align: center;
        color: $text-secondary;
        padding: $spacing-xl;
      }
    }
  }
}